/* General body and text styles */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    margin: 0;
    padding: 20px;
}

/* Heading styles */
h1, h2, h3 {
    color: #444;
}

/* Links */
a {
    color: #007bff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

/* Button styles */
button {
    padding: 10px 20px;
    margin-top: 10px;
    border: none;
    background-color: #007bff;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}
mode_button {
    padding: 10px 20px;
    margin-top: 10px;
    border: none;
    background-color: #ff3c00;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

/* Form styles */
form {
    background-color: #e0e0e0;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

label {
    display: block;
    margin-top: 10px;
    font-weight: bold;
}

input,
select,
button {
    padding: 10px;
    width: 100%;
    margin-top: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

/* Product list */
ul {
    list-style-type: none;
    padding-left: 0;
}

li {
    background-color: #e0e0e0;
    border-radius: 5px;
    margin: 5px 0;
    padding: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Parameter container and individual parameter styles */
#parameters-container {
    padding: 10px;
    background-color: #ffffff; /* Slightly different background to differentiate */
    border-radius: 5px;
    color: #333;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

.parameter-item {
    margin-top: 5px;
    font-size: 14px;
    color: #555;
}

.product-card {
    background: #fff;
    padding: 20px;
    margin: 10px auto;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    max-width: 600px;
}

.product-card h2 {
    margin: 0;
    color: #6200ea;
}

.product-card p {
    margin: 5px 0;
}
